.experience-main-div {
  display: flex;
}
.experience-text-div {
  margin-left: 50px;
}

.experience-text {
  font-size: 20px;
}

.experience-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

p {
    /*      top  right  bottom  left */
    margin: 0    0      0       0;
}

.experience-image-div > img {
  max-width: 100%;
  height: auto;
}

.experience-heading {
  font-size: 46px;
  font-weight: bolder;
}

.experienceDuration {
  font-size: 13px;
}

/* Media Query */
@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
  .experience-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .experience-main-div {
    flex-direction: column;
  }
  .experience-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .experience-text {
    font-size: 10px;
  }
  .experience-text-subtitle {
    font-size: 25px;
    text-align: center;
  }
  .experience-image-div {
    /* display: none; */
    order: 3;
  }
}
